Source: python-sharepoint
Section: python
Priority: extra
Maintainer: Alexander Dutton <alexander.dutton@it.ox.ac.uk>
Build-Depends: debhelper (>= 7.0.50~),
               python-all,
               python-support,
               python-setuptools,
               python-lxml
Standards-Version: 3.8.4
X-Python-Version: >= 2.6
Homepage: https://github.com/ox-it/python-sharepoint
Vcs-Git: git://github.com/ox-it/python-sharepoint.git

Package: python-sharepoint
Section: python
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python
Description: SharePoint library for Python

